@import url(./__item/gallery-grid__item.css);
@import url(./__item/_photo/gallery-grid__item_photo_1.css);
@import url(./__item/_photo/gallery-grid__item_photo_2.css);
@import url(./__item/_photo/gallery-grid__item_photo_3.css);
@import url(./__item/_photo/gallery-grid__item_photo_4.css);
@import url(./__item/_photo/gallery-grid__item_photo_5.css);
@import url(./__item/_photo/gallery-grid__item_photo_6.css);
@import url(./__item/_photo/gallery-grid__item_photo_7.css);
@import url(./__item/_photo/gallery-grid__item_photo_8.css);
@import url(./__item/_photo/gallery-grid__item_photo_9.css);
@import url(./__item/_photo/gallery-grid__item_photo_10.css);
@import url(./__item/_photo/gallery-grid__item_photo_11.css);
@import url(./__item/_photo/gallery-grid__item_photo_12.css);

.gallery-grid {
  display: grid;
  grid-gap: calc(16 / 1280 * 100vw);
  grid-template-columns: repeat(auto-fit, calc(284 / 1184 * 100%));
  grid-auto-rows: calc(100vw * 213 / 1280);
  justify-content: center;
}

@media (max-width: 1024px) {
  .gallery-grid {
    grid-gap: calc(14 / 1024 * 100vw);
    grid-template-columns: repeat(auto-fit, calc(300 / 928 * 100%));
    grid-auto-rows: calc(100vw * 225 / 1024);
  }
}

@media (max-width: 768px) {
  .gallery-grid {
    grid-gap: calc(16 / 768 * 100vw);
    grid-template-columns: repeat(auto-fit, calc(352 / 720 * 100%));
    grid-auto-rows: calc(100vw * 264 / 768);
  }
}

@media (max-width: 320px) {
  .gallery-grid {
    grid-gap: calc(12 / 320 * 100vw);
    grid-template-columns: repeat(auto-fit, 100%);
    grid-auto-rows: calc(100vw * 216 / 320);
  }
}
