@import url(./__item/gallery-grid__item.css);
@import url(./__item/_photo/gallery-grid__item_photo_1.css);
@import url(./__item/_photo/gallery-grid__item_photo_2.css);
@import url(./__item/_photo/gallery-grid__item_photo_3.css);
@import url(./__item/_photo/gallery-grid__item_photo_4.css);
@import url(./__item/_photo/gallery-grid__item_photo_5.css);
@import url(./__item/_photo/gallery-grid__item_photo_6.css);
@import url(./__item/_photo/gallery-grid__item_photo_7.css);
@import url(./__item/_photo/gallery-grid__item_photo_8.css);
@import url(./__item/_photo/gallery-grid__item_photo_9.css);
@import url(./__item/_photo/gallery-grid__item_photo_10.css);
@import url(./__item/_photo/gallery-grid__item_photo_11.css);
@import url(./__item/_photo/gallery-grid__item_photo_12.css);

.gallery-grid {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  grid-auto-rows: 213px;
  justify-content: center;
}
