@import url(./_size/title_size_xl.css);
@import url(./_size/title_size_l.css);
@import url(./_size/title_size_s.css);
@import url(./_size/title_size_m.css);

.title {
  font-style: normal;
  font-weight: 900;
  margin: 0;
}
