@import url(./__logo/header__logo.css);
@import url(./__lang-switch/header__lang-switch.css);
@import url(./__lang-option/header__lang-option.css);
@import url(./__lang-link/header__lang-link.css);
@import url(./__lang-option/_active/header__lang-option_active.css);

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  /* padding: 28px 48px 0; */
  padding: calc(28% / 1280 * 100) calc(48% / 1280 * 100) 0;
}
