.content__places {
  margin: 0 auto;
  max-width: 984px;
  width: calc(984% / 1280 * 100);
  margin-bottom: 92px;
}

@media (max-width: 1024px) {
  .content__places {
    width: calc(928% / 1024 * 100);
  }
}

@media (max-width: 768px) {
  .content__places {
    width: calc(720% / 768 * 100);
    margin-bottom: calc(88% / 768 * 100);
  }
}

@media (max-width: 320px) {
  .content__places {
    width: 100%;
    margin-bottom: calc(64% / 320 * 100);
  }
}
