.lead__title {
  max-width: 720px;
  text-align: center;
  margin-bottom: 32px;
}

@media (max-width: 1024px) {
  .lead__title {
    padding: 0 5.1724137931%;
  }
}

@media (max-width: 768px) {
  .lead__title {
    max-width: 90%;
    padding: 0 3.125%;
  }
}

@media (max-width: 320px) {
  .lead__title {
    max-width: 288px;
    margin-bottom: calc(16% / 320 * 100);
  }
}
