.place-card__link {
  color: #fff;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-decoration: none;
  border-bottom: 1px solid #fff;
  transition: opacity 250ms ease-in;
}

.place-card__link:hover {
  opacity: 0.8;
}
