.title_size_m {
  font-size: 72px;
  line-height: 76px;
}

@media (max-width: 768px) {
  .title_size_m {
    font-size: 42px;
    line-height: 46px;
  }
}

@media (max-width: 320px) {
  .title_size_m {
    font-size: 32px;
    line-height: 35px;
  }
}