.cover__overlay {
  width: 100%;
  background-color: rgba(42, 44, 47, 0.3);
  padding-top: calc(245% / 1184 * 100);
  padding-bottom: calc(245% / 1184 * 100);
  transition: background-color 1s ease-in;
}

.cover__overlay:hover {
  background-color: rgba(42, 44, 47, 0.8);
}
