@import url(./__image/place-card__image.css);
@import url(./__title/place-card__title.css);
@import url(./__link-container/place-card__link-container.css);
@import url(./__link-title/place-card__link-title.css);
@import url(./__link/place-card__link.css);
@import url(./__descr-container/place-card__descr-container.css);
@import url(./__descr/place-card__descr.css);

.place-card {
  display: grid;
  grid-template-columns: calc(460% / 984 * 100) 1fr;
  grid-gap: calc(48 / 1280 * 100vw) calc(40 / 1280 * 100vw);
}

@media (max-width: 1024px) {
  .place-card {
    grid-template-columns: calc(460% / 984 * 100) 1fr;
    grid-column-gap: calc(32 / 1024 * 100%);
  }
}

@media (max-width: 768px) {
  .place-card {
    grid-template-columns: calc(460% / 984 * 100) 1fr;
    grid-column-gap: calc(28 / 768 * 100vw);
  }
}

@media (max-width: 320px) {
  .place-card {
    grid-template-columns: 100%;
    grid-row-gap: calc(32 / 320 * 100vw);
  }
}

