.cover__title {
  width: 100%;
  text-align: center;
  max-width: 560px;
  margin: 0 auto 32px;
  position: relative;
  z-index: 2;
}

@media (max-width: 768px) {
  .cover__title {
  }
}

@media (max-width: 720px) {
  .cover__title {
    max-width: 70%;
  }
}

@media (max-width: 425px) {
  .cover__title {
    max-width: 95%;
    margin-bottom: 16px;
  }
}
